PORT=3000
MONGODB_URI=mongodb://localhost:27017/url-shortener
REDIS_CLIENT=redis://localhost:6379
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=admin
RABBITMQ_PASSWORD=Admin@123
RABBITMQ_VHOST=/
JWT_SECRET_KEY_ACCESS_TOKEN=your_access_secret
JWT_SECRET_KEY_REFRESH_TOKEN=your_refresh_secret
BCRYPT_SALT=10
